<h1>Events created by @<%= @user.username %></h1>

<% @events.each do |event| %>
    <div class="event">
        <p class="event-name"><%= link_to event.name, event_path(event), class: "event-name" %></p>
        Date: <%= event.date %></br>
        Location: <%= event.location %>
    </div>
<% end %>

<%= link_to "All Events", root_path %>