<h1>Events created by @<%= @user.username %></h1>

<% @events.each do |event| %>
    <div class="event">
        <p class="event-name"><%= link_to event.name, event_path(event), class: "event-name" %></p>
        Date: <%= event.date.strftime("%a, %b %d %Y") %></br>
        Location: <%= event.location %>
    </div>
<% end %>

<h2>Attended Events</h2>
<%= render "attended_events", locals: { user: @user } %>