<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<h1>Events</h1>

<h3>Upcoming Events</h3>
<% Event.upcoming_events.each do |event| %>
    <div class="event">
        <%= link_to event.name, event_path(event), class: "event-name" %>
        <p>Event created by <%= link_to "@" + event.creator.username, event.creator %></p>
    </div>
<% end %>

<h3>Past Events</h3>
<% Event.past_events.each do |event| %>
    <div class="event">
        <%= link_to event.name, event_path(event), class: "event-name" %>
        <p>Event created by <%= link_to "@" + event.creator.username, event.creator %></p>
    </div>
<% end %>

<h1>Users</h1>
<% @users.each do |user| %>
    <p class="user-name"><%= link_to user.username, user %></p>
<% end %>
