<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if user_signed_in? %>
    <%= button_to "Log Out", destroy_user_session_path, method: :delete %>
    <p>Signed in as <%= current_user.username %></p>
    <%= link_to "Create event", new_event_path %>
<% else %>
    <%= link_to "Sign Up", new_user_registration_path %>
    <%= link_to "Log In", new_user_session_path %>
<% end %>

<h1>Events</h1>

<h3>Upcoming Events</h3>
<% Event.upcoming_events.each do |event| %>
    <div class="event">
        <%= link_to event.name, event_path(event), class: "event-name" %>
        <p>Event created by <%= link_to "@" + event.creator.username, event.creator %></p>
    </div>
<% end %>

<h3>Past Events</h3>
<% Event.past_events.each do |event| %>
    <div class="event">
        <%= link_to event.name, event_path(event), class: "event-name" %>
        <p>Event created by <%= link_to "@" + event.creator.username, event.creator %></p>
    </div>
<% end %>

<h1>Users</h1>
<% @users.each do |user| %>
    <p class="user-name"><%= link_to user.username, user %></p>
<% end %>
