<h1><%= @event.name %></h1>
<h3>Created by <%= link_to @event.creator.username, @event.creator %></h3>
<p>Date: <%= @event.date.strftime("%a, %b %d %Y") %></p>
<p>Location: <%= @event.location %></p>

<% if user_signed_in? && @event.creator == current_user %>
    <%= link_to "Delete Event", event_path(@event), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this event?"} %>
<% end %>

<% if user_signed_in? && @event.creator != current_user %>
    <% if @event.attendees.where(id: current_user.id).any? %>
        <p><%= link_to "Unattend Event", events_remove_attendee_path, class: "attend-event-button" %></p>
    <% else %>
        <p><%= link_to "Attend Event", events_add_attendee_path, class: "attend-event-button" %></p>
    <% end %>
<% end %>

<h3>Event Attendees</h3>
<ul>
    <% @event.attendees.each do |attendee| %>
        <li><%= attendee.username %></li>
    <% end %>
</ul>